@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Raleway:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
}
